body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.column {
    flex: 1;
    border: 1px solid black;
    height: 2vh;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    gap: 5px;
}