body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 500px;
    aspect-ratio: 1/1;
}

.column {
    flex: 1;
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    gap: 5px;
    flex: 1;
}